@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
.webPlayerBody{
    height:100vh;
    margin:0;
    font-family: 'Lato', sans-serif;
    background-image:linear-gradient(
    0deg,
    rgb(247,247,247)23.8%,
    rgb(252,221,221)92%
    );
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

.music-container {
    background-color: #282828;
    /*border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252,169,169, 0.6);*/
    display: flex;
    /*padding: 20px, 30px;*/
    position: relative;
    /*margin: 100px 0;*/
    z-index: 10;
    justify-content: center;
    flex-direction:row;
    left:0;
}

.img-container{
    position:relative;
    width:110px;

}

.img-container::after{
    content: '';
    background-color:#fff;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius:50%;
    transform: translate(-50%,-50%);
}


.img-container img{
    width: inherit;
    height: 110px;
    border-radius:50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left:0;

    animation: rotate 3s linear infinite;

    animation-play-state:paused;
}

.music-container.play .img-container img {
    animation-play-state:running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation{
    display:flex;
    align-items:center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    background-color: #282828;
    border:0;
    color: #dfdbdf;
    font-size:20px;
    cursor:pointer;
    padding: 10px;
    margin: 0 20px;

}
.action-btn-big {
    color: #cdc2d0;
    font-size:30px;
}

.action-btn:focus{
    outline:0;
}

.music-info {
    /*//background-color: rgba(255,255,255,0.5);*/
    /*border-radius: 15px 15px 0 0;*/
    position: absolute;
    top: 0;
    /*//left: 20px;*/
    /*width: calc(60% - 40px);*/
    width: 100%;
    opacity: 0;
    transform: translateY(0%);
    /*padding: 10px 60px 38px 150px;*/
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    display: flex;
    /*//align-items:baseline;*/
    background-color: #282828;
    align-items: center;
    flex-direction: column;
}
.music-info h4{
    margin:0;
    color:#fff;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
    padding: 10px 60px 38px 150px;
}

.progress-container{
    background: #fff;
    border-radius:5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 50%;
}

.progress{
    background-color:#fe8daa;
    border-radius:5px;
    height: 100%;
    width:0%;
    transition:width 0.1s linear;
}

.slider-cont{
    padding:25px;
    background-color:#282828;
    border-radius: 5px 25px 25px 5px;
    display:flex;
    align-items:center;
}

.slider{
    position:relative;
    width:200px;
    height:25px;
}

.slider input{
    position:absolute;
    left:-6px;
    top:0;
    width:212px;
    height:20px;
    -webkit-appearance:none;
    background-color:transparent;
    z-index:99;
}

.slider input::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background-color:#fff;
    border:2px solid #e91e63;
    border-radius:50%;
    cursor:pointer;
}

.slider progress{
    width:200px;
    height:20px;
    -webkit-appearance:none;
    position: absolute;
    top:0;
    left:0;
    border-radius:10px;
    overflow:hidden;
}

.slider progress::-webkit-progress-bar{
    background-color:#f0f0f0;
}
.slider progress::-webkit-progress-value{
    background-color: #e91e63;
}

.sliderValue{
    font-family:"Google Sans Regular";
    width:28px;
    height:20px;
    margin-left:10px;
    text-align:center;
}

.sidebar-div{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI';
}
.sidebar{
    position:fixed;
    background:#121212;
    width:200px;
    height:100%;
    /*top:0;*/
    left:0;
    z-index:1;
}

.sidebar h2{
    text-align:center;
    font-size:20px;
    text-transform:uppercase;
    color:#ffffff;
    background:#121212;
    padding:20px;
    font-weight:bold;
}

.nomargin{
    margin:0;
    padding:0;
}

.sidebar ul li{
    margin:25px 0;

}
.sidebar ul li a{
    color:#D0D0D0;
    padding: 0 20px;
}
.sidebar ul li a:hover{
    color: #fff;
    margin-left:15px;
    transition: 0.3s;
}

.main{
    margin-left:200px;
    padding: 5px;
}

.main h2{
    margin-top:30px;
}

header{
    display:none;
}




