@model SpotifyWeb.Models.ViewModel.SongsVM
@{
    var title = "Create Song";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.Song.Id != 0)
        {
            <input type="hidden" asp-for="Song.Id"/>
            title = "Edit Songs";
        }
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    Album
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m=>m.Song.AlbumId,
                        Model.AlbumList,"Select an album", new{@class="form-control"})
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.Title" ></label>
                </div>
                <div class="col-8">
                    <input asp-for="Song.Title" class="form-control" />
                    <span asp-validation-for="Song.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.Genre" ></label>
                </div>
                <div class="col-8">
                    <select asp-for="Song.Genre" 
                    asp-items="Html.GetEnumSelectList<Album.GenreType>()" class="form-control"></select>
                         <span asp-validation-for="Song.AlbumId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.RuntimeInSeconds" ></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Song.RuntimeInSeconds" class="form-control"></textarea>
                    <span asp-validation-for="Song.RuntimeInSeconds" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.IsExplicit" ></label>
                </div>
                <div class="col-8">
                    <input asp-for="Song.IsExplicit" class="form-control" />
                    <span asp-validation-for="Song.IsExplicit" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.ReleaseDate" ></label>
                </div>
                <div class="col-8">
                    <input asp-for="Song.ReleaseDate" class="form-control" />
                    <span asp-validation-for="Song.ReleaseDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.ImageSongURL" ></label>
                </div>
                <div class="col-8">
                    <input asp-for="Song.ImageSongURL" class="form-control" />
                    <span asp-validation-for="Song.ImageSongURL" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.SongUrl" ></label>
                </div>
                <div class="col-8">
                    <input asp-for="Song.SongUrl" class="form-control" />
                    <span asp-validation-for="Song.SongUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Song.SongMP3" ></label>
                </div>
                <div class="col-8">
                    <input type="file" asp-for="Song.SongMP3" class="form-control" id="SongMP3" name="files" multiple />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        Save
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>

        </div>
        <div class="col-4 text-right" style="width:250px;">
            @if(Model.Song.Id != 0)
            {                
                <img src="@Model.Song.ImageSongURL" width="100%" />
                <audio controls>
                       <source src="/music/@Model.Song.SongMP3">
                </audio>
            }                
        </div>
    </div>
</form>
